* {
  margin: 0px;
}

.App {
  background: red;
  display: flex;
  flex-direction: row;
}

* {
  margin: 0px;
}

.App {
  background-color: white;
  /* height: 100vh; */
}

.playstore {
  width: 200px;
}
.nav {
  display: flex;
  /* background: white; */
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  position: sticky;
}
.nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: yellow; */
  width: 50%;
  height: 100%;
}
.nav li {
  list-style: none;
}
.nav a {
  color: black;
  text-decoration: none;
}
.main_container {
  display: flex;
}

.main__form {
  /* background: red; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.main__form > input {
  /* border-radius: 5px;
  padding-top: 5px; */
  flex: 1;
  display: flex;
}

.main__form > button {
  /* border-radius: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  /* background: red; */
}

.main__form_title_container {
  display: flex;
}

.labels {
  /* background: green; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-bottom: 100px;
  /* padding-top: 100px; */
  margin-left: 50px;
}
.labels > h1 {
}
.mockup {
  /* background: yellow; */
  display: flex;
  flex: 2;
  /* width: 100vh; */
}

.mockup > img {
  object-fit: cover;
  /* background: lightcoral; */
  /* display: flex; */
  width: 90%;
  /* z-index: 2; */
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  * {
    margin: 0px;
  }
  .App {
    background-color: aqua;
  }
  .nav {
    display: flex;
    background: aqua;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: yellow; */
    width: 50%;
    height: 100%;
  }
  .nav li {
    list-style: none;
  }
  .nav a {
    color: black;
    text-decoration: none;
  }
  .main_container {
    display: flex;
    height: 100vh;
  }
  .labels {
    /* background: green; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    padding-bottom: 100px;
    /* padding-top: 100px; */
    /* margin-left: 50px; */
  }
  .labels > h1 {
  }
  .mockup {
    /* background: yellow; */
    display: flex;
    flex: 1;
  }

  .mockup > img {
    object-fit: cover;
    /* background: lightcoral; */
    display: flex;
    width: 100%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  * {
    margin: 0px;
  }
  .App {
    background-color: aqua;
    height: 100vh;
  }
  .nav {
    overflow: hidden;
  }
  .main_container {
    display: flex;

    flex-direction: column;
  }
  .labels {
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .labels > div {
    /* background-color: blue; */
    /* margin: 5px; */
    justify-content: center;
    align-items: center;
  }
  .labels > h1 {
  }
  .mockup {
    /* background: yellow; */
    display: flex;
    flex: 1;
  }

  .mockup > img {
    object-fit: cover;
    /* background: lightcoral; */
    display: flex;
    /* width: 100%; */
    /* z-index: 2; */
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  background-color: white;
}
